/* Login Styles */

/* import New Font 'Tilt Neon' */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Tilt Neon', sans-serif;
}

/* Page Body */
body {
    background-color: rgb(202, 252, 252);
    background-image: url(../../images/cover.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* flex-box for Page Body and Login Form */
body,
.login-container,
.login-form,
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Login Container */
.login-container {
    width: 600px;
    height: 500px;
    background-color: rgb(81, 143, 236);
    color: rgb(12, 45, 94);
    border: 2px solid aqua;
    border-radius: 15px;
}

/* Login Form */
.login-form {
    border: none;
    width: 100%;
    height: 50%;
    font-size: 25px;
}

/* Login Form Input ( Email and Password ) */
.login-form input {
    width: 200px;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

/* Login Form Button */
.login-form button {
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    background-color: rgb(64 107 211);
    color: white;
    box-shadow: 5px 5px 10px rgb(43, 56, 56);
}

.login-form button:hover {
    background-color: rgb(33, 33, 58);
    color: cadetblue;
    animation: Move 1s 1 alternate;
}

/* achor links styles */
.links {
    margin-top: 20px;
}

.links a {
    font-size: 15px;
    color: whitesmoke;
    margin-top: 5px;
}

.links a:hover {
    color: rgb(97, 15, 173);
}


/* Animation for login button */
@keyframes Move {
    0% {
        margin-top: 10px;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 10px;
    }
}


/* Responsive */
@media (max-width:700px) {
    .links a {
        font-size: 10px;
    }
    .login-container{
        width: 300px;
        height: 250;
    }
    .login-container h1{
        font-size: 20px;
    }
    .login-form button{
        width: 75px;
        height: 20px;
        font-size : 10px;
    }
    .login-form input{
        width: 100px;
        height: 25px;
        font-size: 10px;
    }

}